.hover-zoom {
    transition: transform 0.3s ease;
    /* Efek transisi halus */
}

.hover-zoom:hover {
    transform: scale(1.05);
    /* Zoom sebesar 5% */
}

.hover-drop-shadow {
    transition: filter 0.3s ease;
    /* Efek transisi halus */
}

.hover-drop-shadow:hover {
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
    /* Efek drop-shadow saat di-hover */
}